
.gutter {
    padding-left: var(--section-space-x);
    padding-right: var(--section-space-x);
}

.wrapper {
    width: 100%;
    max-width: var(--section-wrapper);
    margin-left: auto;
    margin-right: auto;
}
